<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/static/styles.css">

<nav class="mb-5">
    <div class="nav__bar">
    <div class="nav__header">
        <div class="logo nav__logo">
        <div>H</div>
        <span>HOTEL<br />MIRANDA</span>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
        <i class="ri-menu-line"></i>
        </div>
    </div>
    <ul class="nav__links my-auto" id="nav-links">
        <li><a href="/admin/dashboard">Home</a></li>
        <li><a href="/admin/room">Rooms</a></li>
        <li><a href="/admin/room-type">Room Types</a></li>
        <li><a href="/">Goto Website</a></li>
    </ul>
    </div>
</nav>
